body {
    background-color: #0a192f;
}

h1 {
    color: #64ffda;
}

#btn_logo {
    height: 10vh;
    width: 100;
}
#logo_btn {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    height: 1vh;
    width: 1vw;
}