body {
    background-color: #0a192f;
}

h1 {
    color: #64ffda;
}

#logo_btn {
    background-image: url('Images/Icons/bz_icon.png');
    background-size: co;
    border: transparent;
    outline: transparent;
    height: 10vh;
    width: 10vw;
}